<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Home Page 7 * 7</h1>
    <h2><%= 7*7 %></h2>
    <h2><%= ['vivek', 'rahul', 'rohit','prabhat'][0] %></h2>
    <h2><%= 'vivek'.toUpperCase() %></h2>
    <br>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus deleniti quod facere aspernatur vero tempore! Culpa accusantium est error maiores, reprehenderit quo, impedit iste quia suscipit dignissimos similique exercitationem voluptatibus, maxime dolore iusto beatae odit repellendus. Tenetur quibusdam impedit temporibus necessitatibus, expedita maiores minima iusto hic eaque officiis quam, laboriosam rerum voluptatem adipisci facere blanditiis repellendus quo praesentium animi in placeat quae earum harum? Pariatur odit doloremque non veritatis aspernatur porro suscipit repellendus. Soluta, veniam! Perferendis doloremque autem assumenda voluptatibus iusto, quo architecto id maxime facere rem omnis voluptate possimus culpa inventore maiores excepturi dolorum corporis eaque perspiciatis? Hic, tempora?</p>
     <br>

     <button>Click me!</button>
    </body>
</html>